@font-face {
  font-family: "Work Sans";
  src: url("/uploads/fonts/Work_Sans/WorkSans-VariableFont_wght.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  font-style: italic;
  src: url("/uploads/fonts/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf");
  font-display: swap;
}
