---
import ImageList from "../../../components/ImageList.astro";
import Photography from "../../../layouts/Photography.astro";
import type { Image } from "../../../models/Image";
import img_01_png from "./_01.png";
import img_02_png from "./_02.png";
import img_03_png from "./_03.png";
import img_04_png from "./_04.png";
import img_05_png from "./_05.png";
import img_06_png from "./_06.png";
import img_07_png from "./_07.png";
import img_08_png from "./_08.png";

const title = "Fall 2022 Assignment 3: Sequencing";
const description =
  "My photography assignment for 62-142 Digital Photography I taught by Dylan Vitone in Fall 2022. This third assignment deals with the use of photos in a specific sequence to tell a story.";
const images: Image[] = [
  {
    imgfile: img_01_png,
    imgalt:
      "I'm shaving in my bathroom mirror, shot from behind my back over my shoulder from a slightly high angle. The outside of the bathroom is all dark.",
    caption: "Nikon D300 50mm",
    title: "I Wake Up One Day",
    eager: true,
  },
  {
    imgfile: img_02_png,
    imgalt:
      'I stand reflected in front of a university building whose glass doors are decorated with a banner "Welcome to Family Weekend!". I am standing alone at the edge of the shadow cast by the building and the whole view is slightly askew.',
    caption: "iPhone 11 Pro Max 1x zoom",
    title: "Welcome to Family Weekend",
  },
  {
    imgfile: img_03_png,
    imgalt:
      "A view of the mall of CMU's engineering building from very high up, as viewed through a concrete window. Assorted colors of fall trees create a nostalgic atmosphere.",
    caption:
      "Nikon D300 50mm. I took this from the Cathedral of Learning on UPitt campus",
    title: "A View From Afar",
  },
  {
    imgfile: img_04_png,
    imgalt:
      'An emergency blue light post at night. It is a close-up shot of the lower blue light illuminating a red "push for help" button',
    caption:
      "iPhone 11 Pro Max. Lots of postprocessing needed on the raw, can't believe I held the phone steady for that long of a shutter, the regular camera app's auto-stabilized 1s exposures are a lot better but this still looks cool I think",
    title: "PUSH FOR HELP",
  },
  {
    imgfile: img_05_png,
    imgalt: "God rays obscure a moderately lush forest at midday",
    caption:
      "Nikon D300 50mm. I forget exactly how i got this shot, the light effects are really cool",
    title: "Somewhere Else",
  },
  {
    imgfile: img_06_png,
    imgalt:
      'Driveway lightly covered in leaves looks lush from surrounding trees and foliage. Some turned-over trashcans and a "beware of dog" sign are visible in the extremities.',
    caption: "Nikon D300 50mm",
    title: "Where To?",
  },
  {
    imgfile: img_07_png,
    imgalt:
      "A zig-zag of a green metal rail leads the viewers eyes up some outdoor stairs through the forest to a clearing in the trees. Beginning of fall leaves looks lush green, yellow, and orange.",
    caption: "Nikon D300 50mm",
    title: "Here?",
  },
  {
    imgfile: img_08_png,
    imgalt:
      "A blue swingset next to an outdoor pavilion in the middle of a lush green grassy field surrounded by fall trees. An empty jacket and backpack are on the child swing.",
    caption:
      "Nikon D300 50mm. Got a little boring with the composition on the last 3 but I think that reflects my intentions? idk",
    title: "Made it :)",
  },
];
---

<Photography frontmatter={{ title, description }}>
  <p>
    I sort of ended up doing this for my second assignment too. I tried to
    replicate some stuff I liked best I could, but a few of these were rushed so
    I'm not terribly happy with how it turned out, oh well.
  </p>

  <ImageList {images} />

  <hr />
  <p>
    Classmates called this one a little somber yet hopeful, that is sort of what
    I was going for so overall not too bad I think.
  </p>
</Photography>
