---
import ImageList from "../../../components/ImageList.astro";
import Photography from "../../../layouts/Photography.astro";
import type { Image } from "../../../models/Image";

const title = "Fall 2022 Assignment 6: Final";
const description =
  "My final photography assignment for 62-142 Digital Photography I taught by Dylan Vitone in Fall 2022. This final assignment encompasses everything I've learned in the class";
const images: Image[] = [
  {
    imgfile: "_01.png",
    imgalt:
      "A passageway for cars to go into a garage underneath a building is bathed in multiple colors of light; green from the fluorescent ones outside, orange from the sodium ones in the tunnel, and purple from the lights inside the garage. There are also white lights on a building and red tail lights in the background.",
    caption: "Nikon D300 50mm, long exposure",
    title: "Missing",
    eager: true,
  },
  {
    imgfile: "_02.png",
    imgalt:
      "The Cathedral of Learning in Pittsburgh looms eerily through the mist, with winter tree branches framing the scene.",
    caption:
      "Nikon D300 50mm. Long exposure. Photoshopped to get more orange lol",
    title: "Misting",
  },
  {
    imgfile: "_03.png",
    imgalt:
      "Sidewalk at night is illuminated by headlights from nearby cars. Ghostly footsteps can be seen travelling diagonally across the upper right corner.",
    caption: "Nikon D300 50mm. Long exposure",
    title: "Walking",
  },
  {
    imgfile: "_04.png",
    imgalt:
      "At an airport in the early morning, a plane getting ready on the tarmac is viewed through a window where the reflection of the inside of the airport can be seen, along with the outline of the photographer.",
    caption: "iPhone 11 Pro Max, 1x zoom",
    title: "Flying",
  },
  {
    imgfile: "_05.png",
    imgalt:
      "A stairway leads down to where travellers are lined up to buy train tickets",
    caption: "iPhone 11 Pro Max, 1x zoom",
    title: "Stairing",
  },
  {
    imgfile: "_06.png",
    imgalt:
      "Large air intakes for a power plant reflect light onto a nearby building. The sky is a clean blue and there is a single lens flare from a sun out-of-frame.",
    caption: "Nikon D300 50mm",
    title: "It's Over",
  },
  {
    imgfile: "_07.png",
    imgalt:
      "Travelling cars and buses leave streaks of red tail lights on the night road. Small city lights illuminate the wet road and bright construction markers. There is also a big arrow redirecting traffic.",
    caption: "Nikon D300 50mm. Long exposure",
    title: "Let's Go",
  },
  {
    imgfile: "_08.png",
    imgalt:
      "Rows of parked cars bathe under orange sodium lamps. The scene is much brighter than expected, considering it should be night.",
    caption: "Nikon D300 50mm. Long exposure",
    title: "Where?",
  },
  {
    imgfile: "_09.png",
    imgalt:
      "A long outdoor hallway lets in light through various columns. The tan bricks cooperate well with the golden sun outside to create a warm atmosphere.",
    caption: "iPhone 11 Pro Max, 0.5x zoom",
    title: "School",
  },
  {
    imgfile: "_10.png",
    imgalt:
      "A bald photographer pushes themselves into a corner to get the right angle for an indoor portrait photo of subjects off-screen. Another non-photographed lady can be seen in the mirror next to the man. There is a red curtain and green plants and dark windows and brown wood chairs to add variety to the scene.",
    caption: "Nikon D300 50mm",
    title: "Photography",
  },
];
---

<Photography frontmatter={{ title, description }}>
  <p>
    I thought I would need to dig more heavily from past assignments for this
    one. As it turns out, I didn't actually like as many of my old photos
    anymore and was able to shoot some pretty good new ones!
  </p>
  <p>
    This can <em>sort of</em> be viewed as a compilation of everything I learned
    this semester, story is much less coherent than other works however and are sort
    of more just based on vibes :) anyways hope you enjoy!!
  </p>

  <ImageList dir="f22-a6" {images} />

  <hr />
  <p>
    And with that, so concludes all the photos I shot for my very first
    photography class. It was a ton of fun, Dylan Vitone is a great professor
    and human being, also shoutouts to all my classmates for being great
    inspirations through y'alls work and conversations! I'll never forget this
    class and what I learned there.
  </p>
</Photography>
