---
import ImageList from "../../components/ImageList.astro";
import Photography from "../../layouts/Photography.astro";
import type { Image } from "../../models/Image";

const title = "2024-10: Rochester";
const description =
  "I visited a friend in a college town & took some photos. Only a few came out well enough to be showcased, however.";

const images: Image[] = [
  {
    imgfile: "IMG_7589.JPG",
    imgalt:
      'A concrete parking garage stairwell with blue facade visible in the background, and an orange sign reading "North Stair 4", illuminated by soft orange-white light.',
    title: "Parking Garage Stairwell",
    caption:
      "This was at the Museum of Play, which is definitely targetted towards a younger audience, but we had fun there anyways, playing their DDR & pinball machines.",
    eager: true,
  },
  {
    imgfile: "IMG_7657.JPG",
    imgalt:
      "A bright orange metal panel with cutouts for a long string of 1s and 0s is illuminated from the side by an afternoon sun, diagonal shadows cast by window supports.",
    title: "11010011001100110111111101101100101101100111011111110101",
    caption:
      "Just a cool-looking panel! I don't think there's any meaning to the sequence of numbers, haven't checked tho",
  },
  {
    imgfile: "IMG_7658.JPG",
    imgalt:
      "A hallway lit by square overhead lightfixtures close, then natural sunlight through green/cyan-tinted glass further on. A rectangular motif is present throughout.",
    title: "Empty Hallway",
    caption:
      "I saw this lighting and HAD to get a pic. Took a lot of fiddling with the shutter speed/exposure on my phone to get it to come out like this. Also had to want for it to be empty, people kept coming <em>juuust</em> as I thought I had the shot. Got there in the end :)",
  },
];
---

<Photography frontmatter={{ title, description }}>
  <p>
    Recently, I decided to visit an old friend who's currently at RIT. I had a
    blast handing out with them, going to various places & seeing various
    things, and I took lots of photos to commemerate. However, only a few photos
    ended up being good enough to showcase as "art photography" rather than
    "personal photography". Still, glad I got some, and very very glad I went!
  </p>
  <ImageList dir="2024-10-rochester" {images} />
  <hr />
  <p>
    All shot on my iPhone 11 Pro Max, as usual. Lightly edited in an attempt to
    make the lines perfect (the lines are not perfect). Not too much else to say
    about these; you can tell I didn't quite have enough material lol. Went for
    "abstract blocky" because I couldn't quite handle building or people shots
    here. Def gonna have to work on those going forward I think.
  </p>
</Photography>
