---
import { processPhotographyImage } from "../../components/processPhotographyImage";
import Photography from "../../layouts/Photography.astro";
import type { ImageWithoutDetails } from "../../models/Image";
import Photograph from "../../components/Photograph.astro";

const title = "2024: Empire State Building";
const description =
  "I attempt to recreate some photos Joel Meyerowitz took in 1978, today, in 2024. It went... just ok!";

const images: ImageWithoutDetails[] = [
  {
    imgfile: "IMG_6654.jpg",
    imgalt:
      "Joel Meyerowitz 1938. From _Empire State_ 1978. _New York City_ 1978. 4 photographs, inkjet print on platine paper.",
  },
  {
    imgfile: "IMG_6833.jpg",
    imgalt:
      'The Empire State Building is partially shrouded in a small low cloud, behind an old storefront, a city-grade Newsstand, and "Swingers: The crazy golf club".',
    maxHeight: 920,
  },
  {
    imgfile: "IMG_6871.jpg",
    imgalt:
      "The Empire State Building is a straight shot down the street, behind roadside trees, an old brick pizza building, an anime game ad, and a walk sign.",
    maxHeight: 920,
  },
  {
    imgfile: "IMG_6896.jpg",
    imgalt:
      "A new-looking stair-steppy skyscraper reflects a blue sky against an overcast background, with a green construction lot in front of it. The Empire State Building is nowhere to be seen.",
    maxWidth: 700,
  },
];

const dir = "2024-empire-state";
const photos = await Promise.all(
  images.map((image) => processPhotographyImage(image, dir))
);
---

<Photography frontmatter={{ title, description }}>
  <p>
    When I visited <a href="/photography/2024-06-london.html">London</a>, I had
    the chance to go to the Tate Modern. Really cool museum, very glad I went.
    Anyways, while I was there, and already thinking about photography lots, I
    stumbled across an exhibit about American photographer Joel Meyerowitz.
  </p>
  <p>
    It was a cool exhibit! Big inspiration while I was there, and I think also
    in Dylan Vitone's class. One small series in particular caught my eye:
  </p>
  <p>
    <Photograph {...photos[0]!} />
  </p>
  <p>
    Hey I know that place! I live there!! Energized on the ride home, I traced
    back the exact locations of each of the shots and made plans to take photos
    in each location. For completeness' sake, here are those locations, read
    right-to-left:
    <ol>
      <li>7th Ave, W 44th, from inside the building</li>
      <li>Broadway, W 29th</li>
      <li>9th Ave, W 34th</li>
      <li>11th Ave, W 34th</li>
    </ol>
  </p>
  <p>
    I was planning on scoping out the locations with my iPhone, and then taking
    "finals" with my Canon once I nailed down the exact angles and lighting I
    would need to replicate these photos <em>exactly</em>. Unfortunately, life
    gets in the way, and I got sick with Covid before that could happen, and
    then I dropped the project :(
  </p>
  <p>
    Still, I do have <em>some</em> iPhone images! I couldn't get (1) because it's
    tricky to figure out how to get inside a locked building (do I email the property
    managers? and tell them what story??). I hope you find these cool anyways, because
    despite everything, I still do :)
  </p>
  <p>
    <table>
      <tbody>
        <tr>
          <td>Missing :(</td>
          <td><Photograph {...photos[1]!} /></td>
        </tr>
        <tr>
          <td><Photograph {...photos[2]!} /></td>
          <td><Photograph {...photos[3]!} /></td>
        </tr>
      </tbody>
    </table>
  </p>
</Photography>

<style>
  td {
    text-align: center;
    vertical-align: middle;
  }
</style>
