---
import ImageList from "../../components/ImageList.astro";
import Photography from "../../layouts/Photography.astro";
import type { Image } from "../../models/Image";

const title = "Fall 2022 Assignment 1: Quality of Light and Time of Day";
const description =
  "My photography assignment for 62-142 Digital Photography I taught by Dylan Vitone in Fall 2022. This first assignment deal with quality of light and time of day.";

const images: Image[] = [
  {
    imgfile: "_01.png",
    imgalt: "Scenic green-yellow view of trees and a pond",
    caption: "Nikon D300 50mm. <i>very</i> photoshopped",
    title: "And thus, we begin",
    eager: true,
  },
  {
    imgfile: "_02.png",
    imgalt:
      'Late evening on CMU campus outside of Wean hall. A spotted Boston Dynamics "Spot" robot is outside.',
    caption:
      "Nikon D300 50mm. Spot has been photoshopped to be lighter than it appears",
    title: "It's here",
  },
  {
    imgfile: "_03.png",
    imgalt:
      "Anti-COVID refuse stacked up in an industrial-looking area, in sickly lighting",
    caption: "Nikon D300 50mm",
    title: "It's still here",
  },
  {
    imgfile: "_04.png",
    imgalt: "Interior hallway of an apartment building. It is quite dark",
    caption: "iPhone 11 Pro Max, 1x zoom",
    title: "We're inside",
  },
  {
    imgfile: "_05.png",
    imgalt:
      "A laptop on a desk glows red from keyboard LEDs, illuminating the surrounding walls and turned-off lamp, while the display shines blue light on an empty chair",
    caption: "Nikon D300 50mm. Long exposure",
    title: "We're still inside",
  },
  {
    imgfile: "_06.png",
    imgalt: "Crane in front of a gray sky",
    caption: "Nikon D300 50mm",
    title: "It's coming soon",
  },
  {
    imgfile: "_07.png",
    imgalt: "Setting sun shines upward on tree leaves from beneath a bridge",
    caption: "iPhone 11 Pro Max. 1x zoom",
    title: "Can we go back?",
  },
];
---

<Photography frontmatter={{ title, description }}>
  <p>
    My very first photography assignment! Sure, I had taken photos before, but
    not really with such purpose. This shoot had <em>by far</em> the most photos
    in it, but only a few I really liked.
  </p>

  <ImageList dir="f22-a1" {images} />

  <hr />
  <p>
    Get used to these camera names, since that's all I'll be using for the rest
    of the semester too lol
  </p>
</Photography>
