---
import ImageList from "../../../components/ImageList.astro";
import Photography from "../../../layouts/Photography.astro";
import type { Image } from "../../../models/Image";
import img_01_png from "./_01.png";
import img_02_png from "./_02.png";
import img_03_png from "./_03.png";
import img_04_png from "./_04.png";
import img_05_png from "./_05.png";
import img_06_png from "./_06.png";
import img_07_png from "./_07.png";

const title =
  "Fall 2022 Assignment 2: Artificial Light and Post-Post-Modernism";
const description =
  "My photography assignment for 62-142 Digital Photography I taught by Dylan Vitone in Fall 2022. This second assignment deals with the use of articial light and a style of photography known as post-post-modernism";
const images: Image[] = [
  {
    imgfile: img_01_png,
    imgalt:
      "Shooting studio with a small table dispenser on a large black table. A slumped figure is cropped off to the side",
    caption: "Nikon D300 50mm",
    title: "Beginning of the Hero's Journey",
    eager: true,
  },
  {
    imgfile: img_02_png,
    imgalt:
      "Underpass illuminated by fluorescent lights in the middle of the day. An empty pool is visible though the tunnel.",
    caption: "Nikon D300 50mm",
    title: "Leaving the Known",
  },
  {
    imgfile: img_03_png,
    imgalt:
      "A tripod with a camera rests on a slanted hill with a blue backpack beneath it. The sky and trees and grass are vibrant.",
    caption:
      "iPhone 11 Pro Max 1x zoom. I'm not too happy with the photoshop on this one, but I <em>have</em> to leave it in for the sequencing I think, class liked it better with",
    title: "One Last Look Back",
  },
  {
    imgfile: img_04_png,
    imgalt:
      'Empty pool from before, now fully visible above a black chain link fence. On the right of the fence there is a vandalized "no trespassing" sign, and on the left there is someone\'s arm and leg cropped off scaling the fence.',
    caption: "Nikon D300 50mm. This shot was taken from the previous angle lol",
    title: "A Leap Of Faith",
  },
  {
    imgfile: img_05_png,
    imgalt:
      "A ghostly figure lies face-down next to a yellow concrete wall at night.",
    caption:
      "Nikon D300 50mm. Long exposure, I laid down halfway through the timer",
    title: "Death",
  },
  {
    imgfile: img_06_png,
    imgalt:
      "Mixed light of a green fluorescent bulb and an orange sodium lamp create distinct shapes on the ground in a slope leading out of a parking lot. In the bottom corner, a hand lies face-up (cropped off)",
    caption: "Nikon D300 50mm. Slightly long exposure, on a timer",
    title: "More Death",
  },
  {
    imgfile: img_07_png,
    imgalt:
      "Illuminated stairway of a modern building leaks out through large glass windows. In the bottom corner of the image there is a ghostly figure lying in the road, and in the top corner there is a stoplight turned green.",
    caption:
      "Nikon D300 50mm. Long exposure, some photoshop to get things just right",
    title: "At Peace With It",
  },
];
---

<Photography frontmatter={{ title, description }}>
  <p>
    My second photography assignment! I was kinda super inspired for this one,
    this is one of my more unique pieces.
  </p>

  <ImageList {images} />

  <hr />
  <p>
    Can't believe I was feeling the effects of burnout so soon into the semester

    <br />lol
  </p>
</Photography>
