---
import ImageList from "../../../components/ImageList.astro";
import Photography from "../../../layouts/Photography.astro";
import type { Image } from "../../../models/Image";

const title = "2024-06: London";
const description =
  "Visiting London, I took more photos, high off my perceived success in Chicago. The lighting made it tricky, but I think I ended up with some shots I can be proud of.";

const images: Image[] = [
  {
    imgfile: "_IMG_6467.webp",
    imgalt:
      "Overcast early morning, with a black glass building on the right of the street reflecting a brown brick building on the left. A few people are out walking.",
    title: "Morning",
    caption: "Did not expect this composition to turn out as well as it did",
    eager: true,
  },
  {
    imgfile: "_IMG_6532.webp",
    imgalt:
      "Sunlight streams onto a red brick walkway, with some shrubbery and a lamppost in the foreground leading to a fire escape stair in the background. There is some signage posted.",
    title: "3.8m Height restriction ONE WAY 5",
    caption: "The only sunny morning I got while I was there, lol",
  },
  {
    imgfile: "_IMG_6543.webp",
    imgalt:
      "An upscale courtyard surrounded by a moat and modern apartment buildings, containing coniferous trees and shrubs. Two ducks on a concrete path look warily at the photographer.",
    title: "Ducks",
    caption:
      'They quacked at me but didn\'t move! Neat "secret garden made of money" feeling here.',
  },
  {
    imgfile: "_IMG_6596.webp",
    imgalt:
      "Curved metal beams support an absolutely massive windowed ceiling. Beyond a glass railing, a statue of a man also looks up in wonder.",
    title: "St. Pancras Station",
    caption:
      "Pictures still don't quite do this justice. Best railway station I've ever seen.",
  },
  {
    imgfile: "_IMG_6619.webp",
    imgalt:
      'A double-decker red bus labeled "Tooting Station 77" approaches the camera, with the city reflected in its full-frontal windshield. There is a like bus behind it.',
    title: "Bus",
    caption:
      "I took this as a joke, to remember the route name. WHY DID IT TURN OUT SO WELL??",
  },
  {
    imgfile: "_IMG_6647.webp",
    imgalt:
      'Modern apartment buildings with external structural X-supports and floor-to-ceiling glass windows surround a courtyard where one person is standing in a hoodie. A road exit is labeled with a "Do Not Enter" symbol.',
    title: "Except cycles",
    caption:
      "This was near the Tate Modern, which was one of my favorite museums and favorite areas, because of all the architecture naturally.",
  },
  {
    imgfile: "_IMG_6672.webp",
    imgalt:
      "An external all-glass elevator and accompanying metal supports create a chaotic mess of reflections with themselves and the outside street. A pride flag can be seen thru a gap.",
    title: "Happy Pride",
    caption:
      "This building was right near the hotel and it drew my eye every time. This piece is about the shapes it makes.",
  },
  {
    imgfile: "_IMG_6702.webp",
    imgalt:
      "Tower Bridge in London as viewed from the north shore, with the Girl And Dolphin sculpture visible. A few pedestrians mill about the waterfront.",
    title: "Tower Bridge",
    caption:
      "This was taken from the porch of the hotel I stayed at! All paid for by work 😎",
  },
];
---

<Photography frontmatter={{ title, description }}>
  <p>
    High off my success in Chicago, I resolved to continue taking photos during
    my big trip to London. I had a blast there, and honestly a majority of my
    free time was spent just wandering around the waterfront, Central London, or
    even just right by my hotel, admiring all the cool architecture. Really
    great city, can't wait to go back sometime!
  </p>
  <ImageList dir="2024-06-london" {images} />
  <hr />
  <p>
    In this excursion, I took over twice as many photos as I did in Chicago, yet
    ended up with less I was actually proud of. I think this is due to a couple
    things:
  </p>
  <ul>
    <li>
      Overcast lighting makes things look flat, which is not what I was going
      for.
    </li>
    <li>
      Really starting to feel the limitations of the iPhone camera platform; I
      was itching to do something "more", but time crunch and hardware
      limitations got in my way.
    </li>
  </ul>
  <p>
    Overall, still pretty happy with the ones that did turn out well, but my
    next project will be on a "real" camera for sure lol.
  </p>
</Photography>
