---
import ImageList from "../../../components/ImageList.astro";
import Photography from "../../../layouts/Photography.astro";
import type { Image } from "../../../models/Image";
import img_01_jpg from "./_01.jpg";
import img_02_jpg from "./_02.jpg";
import img_03_jpg from "./_03.jpg";
import img_04_jpg from "./_04.jpg";
import img_05_jpg from "./_05.jpg";
import img_06_jpg from "./_06.jpg";
import img_07_jpg from "./_07.jpg";

const title = "Fall 2022 Assignment 4: Music";
const description =
  "My photography assignment for 62-142 Digital Photography I taught by Dylan Vitone in Fall 2022. This fourth assignment is meant to be set to music.";
const images: Image[] = [
  {
    imgfile: img_01_jpg,
    imgalt:
      "Late afternoon sun streams beneath a rusty bridge, lighting up the pavement and casting long shadows from wooden electrical poles.",
    caption: "iPhone 11 Pro Max, 1x zoom",
    title: "Sunlight Under A Bridge",
  },
  {
    imgfile: img_02_jpg,
    imgalt:
      "Golden hour sun illuminates a wall by a basketball court underneath a bridge, with trees and tree shadows present. The overall atmosphere is soft.",
    caption: "iPhone 11 Pro Max, 1x zoom",
    title: "Basketball Court Underneath a Bridge",
  },
  {
    imgfile: img_03_jpg,
    imgalt:
      "A man-made pond is surrounded by fall trees, as viewed from a bridge going over it. Overcast lighting makes the scene look dull and a little blue.",
    caption: "iPhone 11 Pro Max, 1x zoom",
    title: "Pond, Day",
  },
  {
    imgfile: img_04_jpg,
    imgalt:
      "The same pond as the previous image, viewed from the same angle, only now it is after dusk with the sky barely glowing colors of orange and yellow near the horizon. A single streetlamp reflects in the farthest reaches of the pond.",
    caption: "iPhone 11 Pro Max, 1x zoom",
    title: "Pond, Night",
  },
  {
    imgfile: img_05_jpg,
    imgalt:
      'Looking down directly over the railing of a bridge, with the top half of the image brown water and the bottom half concrete with a pair of legs standing on it. There is pink graffiti saying "DONNT" in front of where the legs are standing.',
    caption: "iPhone 11 Pro Max, 1x zoom",
    title: "DONNT",
  },
  {
    imgfile: img_06_jpg,
    imgalt:
      "Complex trusses under a wide bridge stretch off into the distance, with the sky a pastel yellow and blue from a low sun.",
    caption: "iPhone 11 Pro Max, 1x zoom",
    title: "Bridge",
  },
  {
    imgfile: img_07_jpg,
    imgalt:
      "Photo taken at night out the window of an apartment building, viewing the other towers of the building. Part of the outside view is obscured by the reflection of the kitchen in the window.",
    caption: "iPhone 11 Pro Max, 1x zoom",
    title: "Home",
  },
];
---

<Photography frontmatter={{ title, description }}>
  <p>
    I got out for quite a few shoots on this one, mostly while I was going for
    runs, having a fairly good idea of what I wanted to do, but in the end it
    still didn't quite come out exactly the way I was envisioning... Because
    this was meant to be put to music, I ended up spending a lot more time
    putting the video together rather than editing the photos, so all these
    images are as the iPhone 11 Pro Max processes them as opposed to raws that I
    edited in Photoshop.
  </p>
  <p>
    The song I chose was
    <a href="https://www.youtube.com/watch?v=iOXn2qtGa4Q"
      >Lucian - Cross the Bridge ft. Annamarie Rosanio</a
    >, hence all the bridges :P
  </p>

  <ImageList {images} />

  <hr />
  <p>
    Seemed to be received OK. This actually isn't the full set of images, just
    the best few I liked, and I don't plan on uploading the video because it's
    not actually that good...
  </p>
  <p>
    Still, I guess I really proved you <em>can</em> do a photography assignment with
    just an iPhone lol
  </p>
</Photography>
