---
import type { PairedImageListProps } from "../models/PairedImageList";
import { processPhotographyImage } from "./processPhotographyImage";
import Photograph from "./Photograph.astro";

export type Props = PairedImageListProps;

const { pairedImages, dir } = Astro.props;

const pairedPhotos = await Promise.all(
  pairedImages.map(async ({ images, ...rest }) => ({
    photos: await Promise.all(
      images.map((image) => processPhotographyImage(image, dir))
    ),
    ...rest,
  }))
);
---

{
  pairedPhotos.map(({ photos, details }) => (
    <figure>
      <h3 set:html={details.title} />
      <div class={details.layout ?? "row"}>
        {photos.map((photo) => (
          <Photograph {...photo} />
        ))}
      </div>
      <figcaption set:html={details.caption} />
    </figure>
  ))
}

<style>
  div {
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .row {
    flex-direction: row;
  }

  .col {
    flex-direction: column;
  }
</style>
