---
import { dateString } from "../date";
import type { PostListProps } from "../models/PostList";

interface Props extends PostListProps {}

const { posts } = Astro.props;
---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={post.url}>{post.title}</a> - {dateString(post.date)}
      </li>
    ))
  }
</ul>
