/* Color Scheme */
:root {
  --color-white: rgb(255, 255, 255);
  --color-white700: rgba(255, 255, 255, 0.7);
  --color-white300: rgba(255, 255, 255, 0.3);
  --color-white100: rgba(255, 255, 255, 0.1);
  --color-grey: rgb(34, 49, 63);
  --color-grey700: rgba(34, 49, 63, 0.7);
  --color-grey300: rgba(34, 49, 63, 0.3);
  --color-grey100: rgba(34, 49, 63, 0.1);
  --color-off-white: rgb(233, 242, 249);
  --color-light-grey: rgb(241, 241, 241);
  --color-cyan: rgb(85, 195, 220);
  --color-blue: rgb(3, 102, 214);
  --color-orange: rgb(235, 133, 34);
  --color-light-orange: rgb(255, 183, 113);
  --color-green: rgb(103, 171, 107);
}

/* Background Color */
body {
  background-color: var(--color-off-white);
}

/* Sidebar Background Color */
body:before,
.site-header {
  background-color: var(--color-cyan);
}

/* Box Background Color */
.post-navigation,
.pagination,
.secondary,
.site-footer,
.hentry,
.page-header,
.page-content,
.comments-area,
.widecolumn {
  background-color: var(--color-white);
}

/* Box Background Color */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.pagination .prev,
.pagination .next,
.widget_calendar tbody a,
.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus,
.page-links a,
.page-links a:hover,
.page-links a:focus,
.sticky-post {
  color: var(--color-white);
}

/* Main Text Color */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.pagination .prev,
.pagination .next,
.widget_calendar tbody a,
.page-links a,
.sticky-post {
  background-color: var(--color-grey);
}

/* Main Text Color */
body,
blockquote cite,
blockquote small {
  color: var(--color-grey);
}

/* Link Color */
a {
  color: var(--color-blue);
}

.post-navigation a .post-title {
  color: var(--color-grey);
}

.post-navigation a:hover,
.post-navigation a:focus {
  text-decoration: none;
}

/* Link Underline Color */
.entry-content a,
.entry-summary a,
.page-content a,
.comment-content a,
.pingback .comment-body > a,
.author-description a,
.taxonomy-description a,
.textwidget a,
.entry-footer a:hover,
.comment-metadata a:hover,
.pingback .edit-link a:hover,
.comment-list .reply a:hover,
.site-info a:hover {
  border-color: var(--color-blue);
}

/* Secondary Text Color */
button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="reset"]:hover,
input[type="reset"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus,
.pagination .prev:hover,
.pagination .prev:focus,
.pagination .next:hover,
.pagination .next:focus,
.widget_calendar tbody a:hover,
.widget_calendar tbody a:focus,
.page-links a:hover,
.page-links a:focus {
  background-color: var(--color-grey700);
}

/* Secondary Text Color */
blockquote,
a:hover,
a:focus,
.main-navigation .menu-item-description,
.post-navigation .meta-nav,
.post-navigation a:hover .post-title,
.post-navigation a:focus .post-title,
.post-title-end,
.image-navigation,
.image-navigation a,
.comment-navigation,
.comment-navigation a,
.widget,
.author-heading,
.entry-footer,
.entry-footer a,
.taxonomy-description,
.page-links > .page-links-title,
.entry-caption,
.comment-author,
.comment-metadata,
.comment-metadata a,
.pingback .edit-link,
.pingback .edit-link a,
.post-password-form label,
.comment-form label,
.comment-notes,
.comment-awaiting-moderation,
.logged-in-as,
.form-allowed-tags,
.no-comments,
.site-info,
.site-info a,
.wp-caption-text,
.gallery-caption,
.comment-list .reply a,
.widecolumn label,
.widecolumn .mu_register label {
  color: var(--color-grey700);
}

/* Secondary Text Color */
blockquote,
.logged-in-as a:hover,
.comment-author a:hover {
  border-color: var(--color-grey700);
}

/* Border Color */
hr,
.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background-color: var(--color-grey100);
}

/* Border Color */
pre,
abbr[title],
table,
th,
td,
input,
textarea,
.main-navigation ul,
.main-navigation li,
.post-navigation,
.post-navigation div + div,
.pagination,
.comment-navigation,
.widget li,
.widget_categories .children,
.widget_nav_menu .sub-menu,
.widget_pages .children,
.site-header,
.site-footer,
.hentry + .hentry,
.author-info,
.entry-content .page-links a,
.page-links > span,
.page-header,
.comments-area,
.comment-list + .comment-respond,
.comment-list article,
.comment-list .pingback,
.comment-list .trackback,
.comment-list .reply a,
.no-comments {
  border-color: var(--color-grey100);
}

/* Border Focus Color */
a:focus,
button:focus,
input:focus {
  outline-color: var(--color-grey300);
}

input:focus,
textarea:focus {
  border-color: var(--color-grey300);
}

/* Sidebar Link Color */
.secondary-toggle:before {
  color: var(--color-white);
}

.branding-title a,
.branding-subtitle {
  color: var(--color-white);
}

/* Sidebar Text Color */
.branding-title a:hover,
.branding-title a:focus {
  color: var(--color-white700);
}

/* Sidebar Border Color */
.secondary-toggle {
  border-color: var(--color-white100);
}

/* Sidebar Border Focus Color */
.secondary-toggle:hover,
.secondary-toggle:focus {
  border-color: var(--color-white300);
}

.branding-title a {
  outline-color: var(--color-white300);
}

/* Meta Background Color */
.entry-footer {
  background-color: var(--color-light-grey);
}

@media screen and (min-width: 38.75em) {
  /* Main Text Color */
  .page-header {
    border-color: var(--color-grey);
  }
}

@media screen and (min-width: 59.6875em) {
  /* Make sure its transparent on desktop */
  .site-header,
  .secondary {
    background-color: transparent;
  }

  /* Sidebar Background Color */
  .widget button,
  .widget input[type="button"],
  .widget input[type="reset"],
  .widget input[type="submit"],
  .widget_calendar tbody a,
  .widget_calendar tbody a:hover,
  .widget_calendar tbody a:focus {
    color: var(--color-cyan);
  }

  /* Sidebar Link Color */
  .secondary a,
  .dropdown-toggle:after,
  .widget-title,
  .widget blockquote cite,
  .widget blockquote small {
    color: var(--color-white);
  }

  .widget button,
  .widget input[type="button"],
  .widget input[type="reset"],
  .widget input[type="submit"],
  .widget_calendar tbody a {
    background-color: var(--color-white);
  }

  .textwidget a {
    border-color: var(--color-white);
  }

  /* Sidebar Text Color */
  .secondary a:hover,
  .secondary a:focus,
  .main-navigation .menu-item-description,
  .widget,
  .widget blockquote,
  .widget .wp-caption-text,
  .widget .gallery-caption {
    color: var(--color-white700);
  }

  .widget button:hover,
  .widget button:focus,
  .widget input[type="button"]:hover,
  .widget input[type="button"]:focus,
  .widget input[type="reset"]:hover,
  .widget input[type="reset"]:focus,
  .widget input[type="submit"]:hover,
  .widget input[type="submit"]:focus,
  .widget_calendar tbody a:hover,
  .widget_calendar tbody a:focus {
    background-color: var(--color-white700);
  }

  .widget blockquote {
    border-color: var(--color-white700);
  }

  /* Sidebar Border Color */
  .main-navigation ul,
  .main-navigation li,
  .widget input,
  .widget textarea,
  .widget table,
  .widget th,
  .widget td,
  .widget pre,
  .widget li,
  .widget_categories .children,
  .widget_nav_menu .sub-menu,
  .widget_pages .children,
  .widget abbr[title] {
    border-color: var(--color-white100);
  }

  .dropdown-toggle:hover,
  .dropdown-toggle:focus,
  .widget hr {
    background-color: var(--color-white100);
  }

  .widget input:focus,
  .widget textarea:focus {
    border-color: var(--color-white300);
  }

  .sidebar a:focus,
  .dropdown-toggle:focus {
    outline-color: var(--color-white100);
  }
}
