---
import ImageList from "../../../components/ImageList.astro";
import Photography from "../../../layouts/Photography.astro";
import type { Image } from "../../../models/Image";
import img_01_png from "./_01.png";
import img_02_png from "./_02.png";
import img_03_png from "./_03.png";
import img_04_png from "./_04.png";
import img_05_png from "./_05.png";
import img_06_png from "./_06.png";

const title = "Fall 2022 Assignment 5: Something I Love";
const description =
  "My photography assignment for 62-142 Digital Photography I taught by Dylan Vitone in Fall 2022. This fifth assignment is about something I love: home";
const images: Image[] = [
  {
    imgfile: img_01_png,
    imgalt:
      "Tree branches as viewed through a skylight in the middle of morning. The scene is tinted orange.",
    caption: "Nikon D300 50mm",
    title: "Waking Up",
    eager: true,
  },
  {
    imgfile: img_02_png,
    imgalt:
      "A concrete path goes alongside a brick wall on the right and beds of plants and dry leaves on the left. The wall has a bit of wiring and vents from the house and there is a rubber hose by the door. Most of it is in shadow from the plants but some light shines through.",
    caption: "Nikon D300 50mm",
    title: "Going Outside",
  },
  {
    imgfile: img_03_png,
    imgalt:
      "Light from the window reflects off a pile of pans and dishes drying off in a corner of the kitchen. Refraction from the metal pans and reflection from the white cabinets create almost a rainbow of colors throughout the image, interesting lighting conditions.",
    caption: "Nikon D300 50mm",
    title: "Having Breakfast",
  },
  {
    imgfile: img_04_png,
    imgalt:
      "A dehumidifier sits next to a washbin in the laundry room. Detergent and a washing machine are visible cropped off near the edges, and some crooked paintings line the walls. Overall, though, the atmosphere is comfortably warm from some light through the window.",
    caption: "Nikon D300 50mm",
    title: "Doing The Laundry",
  },
  {
    imgfile: img_05_png,
    imgalt:
      "An umbrella bin and shoe rack and welcome mat and cat door, all around the corner of where a door outside meets the wall inside. Outside is not visible thanks to overexposure.",
    caption: "Nikon D300 50mm",
    title: "Leaving Already?",
  },
  {
    imgfile: img_06_png,
    imgalt:
      "A picture through the window of an apartment building of the other towers. It is currently raining and the lighting from the overcast sky at midday is very drab and depressing.",
    caption: "iPhone 11 Pro Max, 1x zoom",
    title: "Away",
  },
];
---

<Photography frontmatter={{ title, description }}>
  <p>
    My idea for this assignment was "home" which meant I basically had just a
    few chances to do shoots while I was at my parent's house over Thanksgiving
    break. I hadn't been back for a while at this point and was feeling very
    nostalgic to be there and I hope that shows through in these images :)
  </p>

  <ImageList {images} />

  <hr />
  <p>
    Despite having to do part of this on flights, I actually think this is some
    of my better work. I paid attention to composition and used it to tell a
    story and while I did go a little overboard on the photoshop maybe I think
    the results look p good.
  </p>
  <p>
    Never actually got any feedback on this one since I turned it in a day late
    oops (I was out interviewing for a job (TODO: make a blog post about this
    wait a minute))
  </p>
</Photography>
